.footer{
	position:fixed;
 	bottom:0;
 	width: 100%;
 	text-align: right;
 }

[disabled] {
	color: red;
}

div.ui.clearing.segment{
	margin-top: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
}

button#ready{
	margin-left: 9%;
	margin-bottom: 5px;
	position: absolute;
	top: 30px;
}