*{
	margin: 0px;
	padding: 0px;
}

body{
	font: 15px Cambrias, Sans-Serif;
	background-image: url('fond.jpg');

}

div#content{
	margin: auto;
	width: 75%;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
}

h1, h2{
	padding: 10px;
	text-align: center;
	background-color: rgba(205, 166, 0, 0.8);
    color: white;
}

ul, li{
	list-style-type:  none;
	margin-top: 4px;
	color: black;
}


input[type="submit"]{
	margin-top: 10px;
}


/*
#################################################################################################################
*/


/*Style tableau qui affiche les combattants
#################################################################################################################
*/
table, th, td {
   border: 1px solid rgba(205, 166, 0, 0.8);
   border-collapse: collapse;
   text-align: center;
}

table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

th {
    height: 50px;
    background-color: rgba(205, 166, 0, 0.8);
    color: white;
}

th, td{
	padding: 15px;
	border-bottom: 1px solid rgba(205, 166, 0, 0.8);
	
}

td{
	background-color: rgba(255, 255, 255, 0.8);
}

/*
#################################################################################################################
*/

button, input[type="submit"]{
	height: 40px;
	border: none;
    cursor: pointer;
    background-color: rgb(212, 196, 106);
    padding: 5px 2px;
    margin-top: 3px;

}
